{preload_replace:channel="profile"}

{exp:switchee variable="{segment_3}" parse="inward"}

	<!-- Main Leadership Page -->
	{case value=""}
		{embed="_layouts/basic-page"}
		{exp:channel:entries channel="pages"
			entry_id="27"
			dynamic="off"
			{gv_channel_disable_basic}
		}
		  {exp:stash:set_value name="title" value="{title}"}
		  {exp:stash:set_value name="default_title" value="{title}"}
		  {exp:stash:set_value name="body_class" value="page default-layout about"}
		  {exp:stash:set_value name="entry_id" value="{entry_id}"}
		  {exp:stash:set name="breadcrumb"}{exp:taxonomy:breadcrumbs tree_id="2" node_id="9" include_here="no"}{/exp:stash:set}

		  {exp:stash:set name="side_navigation"}
				{exp:taxonomy:nav tree_id="2" entry_id="{entry_id}" ul_css_id="side-navigation-list" root_node_id="2"}
				    <a href="{node_url}">{node_title}</a>
				{/exp:taxonomy:nav}
			{/exp:stash:set}

		  {exp:stash:set name="page_body"}
		  	{body}
		  {/exp:stash:set}
		{/exp:channel:entries}


		{exp:channel:entries channel="{channel}"
			{gv_channel_disable_basic}
			dynamic="off"
			fixed_order="28|29|23|30|31|32"
			sort="asc"
			cache="yes"
			refresh="600"
		}


			{exp:stash:append name="founder_profiles" match="#Founder#" against="{profile_type}"}
				<li class="leadership-tile clearfix">
					<div class="headshot-photo">

						{exp:ce_img:pair
							src="{headshot}"
							max="203"
							crop="yes"
							filter="grayscale"
						}

							<a href="{title_permalink='about/leadership'}"><img src="{made}" alt="{title}" class="photo grayscale fade-out transition"></a>

						{/exp:ce_img:pair}
						{exp:ce_img:pair
							src="{headshot}"
							max="203"
							crop="yes"
						}

							<a href="{title_permalink='about/leadership'}"><img src="{made}" alt="{title}" class="photo color"></a>

						{/exp:ce_img:pair}
					</div>
					<div class="leadership-tile-info">
						<a href="{title_permalink='about/leadership'}">{first_name} {last_name}</a>
						<p>{job_title}</p>
					</div>
				</li>
			{/exp:stash:append}
		{/exp:channel:entries}
		{exp:channel:entries channel="{channel}"
			{gv_channel_disable_basic}
			dynamic="off"
			entry_id="not 28|29|23|30"
			orderby="title"
			sort="asc"
			cache="yes"
			refresh="600"
		}
			{exp:stash:append name="elt_profiles" match="#Executive Leadership Team member#" against="{profile_type}"}
				<li class="leadership-tile clearfix">
					<div class="headshot-photo">
						{exp:ce_img:pair
							src="{headshot}"
							max="203"
							crop="yes"
							filter="grayscale"
						}

							<a href="{title_permalink='about/leadership'}"><img src="{made}" alt="{title}" class="photo grayscale fade-out transition"></a>

						{/exp:ce_img:pair}
						{exp:ce_img:pair
							src="{headshot}"
							max="203"
							crop="yes"
						}

							<a href="{title_permalink='about/leadership'}"><img src="{made}" alt="{title}" class="photo color"></a>

						{/exp:ce_img:pair}
					</div>
					<div class="leadership-tile-info">
						<a href="{title_permalink='about/leadership'}">{first_name} {last_name}</a>
						<p>{job_title}</p>
					</div>
				</li>
			{/exp:stash:append}

		{/exp:channel:entries}

		{exp:stash:set name="content"}
			{exp:stash:get name="page_body"}

			<h4 class="section-header">Founders</h4>
			<ul class="block-grid four-up mobile">
				{exp:stash:get name="founder_profiles"}
			</ul>

			<h4 class="section-header">Executive Leadership Team</h4>
			<ul class="block-grid four-up mobile">
				{exp:stash:get name="elt_profiles"}
			</ul>

		{/exp:stash:set}
	{/case}

	{case default="Yes"}
		{embed="_layouts/basic-page-sidebar"}
		{exp:channel:entries channel="{channel}"
			{gv_channel_disable_basic}
			limit="1"
		}
			{exp:stash:set_value name="title" value="Leadership"}
		  {exp:stash:set_value name="body_class" value="page default-layout about"}
		  {exp:stash:set_value name="entry_id" value="{entry_id}"}
		  {exp:stash:set name="breadcrumb"}{exp:taxonomy:breadcrumbs tree_id="2" node_id="9" include_here="no"}{/exp:stash:set}

		  {exp:stash:set name="side_navigation"}
				{exp:taxonomy:nav tree_id="2" node_id="9" ul_css_id="side-navigation-list" root_node_id="2"}
				    <a href="{node_url}">{node_title}</a>
				{/exp:taxonomy:nav}
			{/exp:stash:set}

		  {exp:stash:set name="page_body"}
		  	{if photo == ""}
		  		<h2 class="sub-page-header">{title}</h2>
		  		<p class="profile-main-title">{job_title}</p>
		  	{/if}
		  	{web_bio}
		  {/exp:stash:set}

		  {exp:ifelse parse="inward"}
		  {if photo != ""}
			  {exp:stash:set name="page-header-asset"}
			  	{exp:ce_img:pair
						src="{photo}"
						max="865"
						crop="yes"
					}
						<figure class="photo-frame-no-border photo-frame encircle">
							<img src="{made}" alt="{title}" class="photo">
						</figure>
					{/exp:ce_img:pair}
					<div class="header-asset-overlay">
						<h2>{title}</h2>
						<p>{job_title}</p>
					</div>
			  {/exp:stash:set}
			{/if}
			{/exp:ifelse}

		  {exp:stash:set name="page_sidebar"}
		  	{exp:ce_img:pair
					src="{headshot}"
					max="300"
					crop="yes"
				}
					<div class="profile-sidebar-photo">
						<img src="{made}" alt="{title}" class="photo color">
					</div>
				{/exp:ce_img:pair}

		  	{if downloadable_bio}
		  		<div class="panel">
		  			<h3 class="accent-header">Resources</h3>
		  			<ul class="unlined-list">
		  				<li><a href="{downloadable_bio:url}" target="_new">Printable Bio</a></li>
		  				{if highres_headshot}<li><a href="{highres_headshot:url}" target="_new">High Res Photo</a></li>{/if}
		  			</ul>
		  		</div>


		  	{/if}

		  {/exp:stash:set}
		{/exp:channel:entries}

		{exp:stash:set name="content"}
			{exp:stash:get name="page_body"}
		{/exp:stash:set}

		{exp:stash:set name="sidebar"}
			{exp:stash:get name="page_sidebar"}
		{/exp:stash:set}
	{/case}
{/exp:switchee}
