{embed="_layouts/index"}
{preload_replace:channel="homepage"}
{exp:stash:set_value name="body_class" value="home"}

{exp:channel:entries channel="{channel}"
	{gv_channel_disable_basic}
	cache="yes"
	refresh="60"
}
{exp:stash:set_value name="title" value="{title}"}

{exp:stash:append name="hero_region"}
	{hero}
		<a href="{hero_url}"><img src="{hero_image}" alt="{title}" /></a>
	{/hero}
{/exp:stash:append}

{exp:stash:set name="hp_intro"}
	{homepage_intro}
{/exp:stash:set}

{exp:stash:set name="minor_a_region"}
	{minor_a}
		<div class="three columns">
			<h4 class="section-header">{slug}</h4>
			{exp:ce_img:pair
				src="{image}"
				width="254"
				height="169"
				crop="yes"

			}

				<a href="{url}"><img src="{made}" alt="{headline}" class="shadow"></a>

			{/exp:ce_img:pair}
			<p class="news-thumb-date">&#160;</p>
			<h2 class="news-thumb-title"><a href="{url}">{headline}</a></h2>
			<p class="news-thumb-descrip">{summary}</p>
		</div>
	{/minor_a}
{/exp:stash:set}

{exp:stash:set name="minor_b_region"}
	{minor_b}
		<div class="three columns">
			<h4 class="section-header">{slug}</h4>
			{exp:ce_img:pair
				src="{image}"
				width="254"
				height="169"
				crop="yes"

			}

				<a href="{url}"><img src="{made}" alt="{headline}" class="shadow"></a>

			{/exp:ce_img:pair}
			<p class="news-thumb-date">&#160;</p>
			<h2 class="news-thumb-title"><a href="{url}">{headline}</a></h2>
			<p class="news-thumb-descrip">{summary}</p>
		</div>
	{/minor_b}
{/exp:stash:set}
{/exp:channel:entries}

{exp:channel:entries channel="blog_post"
	limit="2"
	{gv_channel_disable_basic}
	cache="yes"
	refresh="60"
}

	{exp:stash:append name="blog_entries"}
		<div class="three columns">
			<h4 class="section-header">Blog</h4>
			<a href="{title_permalink="insights/archives"}">
				{exp:ce_img:pair
					src="{blog_featured_image:url}"
					width="254"
					height="169"
					crop="yes"
				}

					<img src="{made}" alt="{title}" class="shadow">
				{/exp:ce_img:pair}
			</a>
			<p class="news-thumb-date">{entry_date format="%F %d, %Y"}</p>
			<h2 class="news-thumb-title"><a href="{title_permalink="insights/archives"}">{title}</a></h2>
			<p class="news-thumb-descrip">{blog_summary}</p>
		</div>
	{/exp:stash:append}
{/exp:channel:entries}

{exp:stash:set name="content"}
	<section role="hero">
		<div id="hero" class="row">
				<div class="twelve columns">
					<div id="featured">
						{exp:stash:get name="hero_region"}
					</div>
				</div>
		</div> <!-- /#hero -->
	</section>
	<div id="hp-intro">
		<h3>{exp:stash:get name="hp_intro"}</h3>
	</div>
	<div id="hp-stories" class="row">

		{exp:stash:get name="blog_entries"}

		{exp:stash:get name="minor_a_region"}

		{exp:stash:get name="minor_b_region"}
	</div> <!-- /#hp-stories -->
{/exp:stash:set}
