<div id="footer" class="container clearfix hide-on-print">
		<div class="row">
			<div class="eight columns">
				<!--
				<a class="rss-subscribe-footer" href="/index.php/core/rss">Subscribe to Our News Feed</a>-->
				<form action="http://canofred.createsend.com/t/y/s/pddjrj/" method="post" id="subForm" class="form nice">
					<input type="text" name="cm-pddjrj-pddjrj" id="pddjrj-pddjrj" class="medium input-text" placeholder="Get Our Email Newsletter"/>
					<input type="submit" value="Subscribe" class="medium nice blue radius button left" />
				</form>
				<ul class="footer-links">
    <li class="node_contact-us level_1 first_child">
					<a href="http://www.intellectualventures.com/index.php/about/contact">Contact Us</a>
				    </li>
    <li class="node_blog level_1">
					<a href="http://www.intellectualventures.com/index.php/insights">Blog</a>
				    </li>
    <li class="node_customer-login level_1 last_child">
					<a href="http://ivexchange.intven.com">Customer Login</a>
				    </li>
</ul>

			</div>
			<div id="logo-legal" class="four columns">
				<a href="/"><img src="http://www.intellectualventures.com/images/iv/footer_logo.png" alt="Intellectual Ventures" /></a>
				<div class="footer-legal">
					<p>
						<a href="/index.php/terms">Terms and Conditions</a>&#160;&#160;|&#160;&#160;<a href="/index.php/privacy">Privacy Policy</a>&#160;&#160;|&#160;&#160;<a href="mailto:webmaster@intven.com">Site Feedback</a><br /><br />
						Copyright &copy; 2016 Intellectual Ventures Management, LLC (IV&reg;)<br />
						All rights reserved.
					</p>
				</div>
			</div>
		</div>
		<div id="navModal" class="reveal-modal">
			<h3>Navigate Our Site</h3>
			<ul class="nice tabs vertical">
				<li class="node_license level_1 has_children first_child">
					<a href="http://www.intellectualventures.com/license">License Our Patents</a>
			    </li>
			    <li class="node_about-us level_1 has_children">
					<a href="http://www.intellectualventures.com/buy">Buy Our Patents</a>
			    </li>
			    <li class="node_about-us level_1 has_children">
					<a href="http://www.intellectualventures.com/sell">Sell Our Patents</a>
			    </li>
    			<li class="node_about-us level_1 has_children" style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">
					<a href="http://www.intellectualventures.com/partner">Partner with Us to Invent</a>
			    </li>
    			<li class="node_services-solutions level_1 has_children">
					<a href="http://www.intellectualventures.com/index.php/services-solutions">Services &amp; Solutions</a>
			    </li>
    			<li class="node_inventions-patents level_1 has_children">
					<a href="http://www.intellectualventures.com/index.php/inventions-patents">Inventions &amp; Patents</a>
			    </li>
    			<li class="node_inventor-network level_1 has_children">
					<a href="http://www.intellectualventures.com/index.php/inventor-network">Inventors</a>
			    </li>
    			<li class="node_news-info level_1 has_children">
					<a href="http://www.intellectualventures.com/index.php/news">News &amp; Info</a>
			    </li>
    			<li class="node_job-opportunities level_1 has_children last_child">
					<a href="http://www.intellectualventures.com/index.php/job-opportunities">Job Opportunities</a>
			    </li>
</ul>

			<a class="close-reveal-modal">&#215;</a>
		</div>

		<div id="navModalWorldwide" class="reveal-modal">
			<h3>IV International</h3>
			<dl class="nice tabs vertical">
				<dd><a href="http://www.intellectualventures.com/index.php/anz">Australia/New Zealand</a></dd>
				<dd><a href="http://www.intellectualventures.com/index.php/canada">Canada</a></dd>
				<dd><a href="http://www.intellectualventures.com/index.php/china">China</a></dd>
				<dd><a href="http://www.intellectualventures.com/index.php/india">India</a></dd>
				<dd><a href="http://www.intellectualventures.com/index.php/ireland">Ireland</a></dd>
				<dd><a href="http://www.intellectualventures.com/index.php/japan">Japan</a></dd>
				<dd><a href="http://www.intellectualventures.com/index.php/korea">Korea</a></dd>
				<dd><a href="http://www.intellectualventures.com/index.php/singapore">Singapore</a></dd>
				<dd><a href="http://www.intellectualventures.com/index.php/taiwan">Taiwan</a></dd>
				<dd><a href="http://www.intellectualventures.com/">United States</a></dd>
			</dl>
			<a class="close-reveal-modal">&#215;</a>
		</div>

	</div> <!-- /#footer -->

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6118066-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/489319.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->

	<!-- Included JS Files -->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/modernizr.foundation.js"></script>
	<script src="/javascripts/imgSizer.js"></script>
	<script src="/javascripts/jquery.validate.min.js"></script>
	<script src="/javascripts/jquery.colorbox-min.js"></script>
	<script src="/javascripts/foundation.js"></script>
	<script src="/javascripts/app.js"></script>

	
<!-- GO HAWKS!! -->
</body>
</html>