{embed="_includes/head"
	default_title='{exp:stash:get name="default_title"}'
	default_description='{exp:stash:get name="default_description"}'
	{if {exp:stash:not_empty name='title_postfix'}}title_postfix='{exp:stash:get name="title_postfix"}'{/if}
}

<body {if {exp:stash:not_empty name="body_class"}} class="{exp:stash:get name="body_class"}"{/if}>

	{sn_iv_bar}

	{embed="_includes/masthead"}

	<div id="section" class="container clearfix">

		{exp:stash:get name="content"}

	</div> <!-- /#section -->

	{embed="_includes/footer"}

<!-- GO HAWKS!! -->
</body>
</html>
